.header {
    height: 5vh;
}

.div-izquierdo {
    background-color: green;
    height: 1000px;
}

.div-derecho {
    height: 1000px;
}

.product {
    margin: 5px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.table {
    border: 0.1px solid grey;
}

.header {
    margin-bottom: 50px;
}